[submodule "vector-db-service"]
	path = vector-db-service
	url = https://github.com/JessKelly91/intramind-vector-db-service.git
[submodule "ai-agent"]
	path = ai-agent
	url = https://github.com/JessKelly91/intramind-ai-agent.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/JessKelly91/intramind-api-gateway.git
[submodule "web-ui"]
	path = web-ui
	url = https://github.com/JessKelly91/intramind-web-ui.git
